/**
 * @file Internal stylesheet for color declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.1.0
 */

body,
.background-color {
  background: var(--background-color);
}

body,
.text-color {
  color: var(--text-color);
}

a,
a:visited,
blockquote,
nav li,
.prompt,
.text-gray,
[aria-roledescription="subtitle"] {
  color: var(--text-gray);
}

#app_nav {
  background: var(--background-color);
}

@media (min-width: 75ch) {
  #app_nav {
    background: unset;
    color: var(--background-gray);
  }
}

/*
 * Borders
 */
details {
  border-block-end: var(--border);
}

#app_nav {
  border-top: var(--border);
  border-block-start: var(--border);
}

@media (min-width: 75ch) {
  #app_nav {
    border-top: unset;
    border-block-start: unset;
    border-bottom: var(--border);
    border-block-end: var(--border);
  }
}

#app_footer {
  border-top: var(--border);
  border-block-start: var(--border);
}

blockquote {
  border: var(--border);
}

.border-inline-end {
  border-right: var(--border);
  border-inline-end: var(--border);
}

.border-block-end {
  border-bottom: var(--border);
  border-block-end: var(--border);
}

/*
 * Fill color rules
 */
a[href="/"] svg,
#app_header svg,
#app_nav svg {
  fill: currentColor;
}

/* Keep focus and hover rules at bottom of cascade */
a:focus,
a:hover,
nav li:focus,
nav li:hover,
#app_nav button:focus,
#app_nav button:hover {
  color: var(--text-color);
}
