/**
 * @file Internal stylesheet for `@font-face` declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.1.0
 * @since 0.11.0 Add Lato
 */

/**
 * Lato
 * Copyright (c) 2010, 2015 Łukasz Dziedzic
 * SIL Open Font License v1.10
 * @see {@link https://www.latofonts.com/}
 */
@font-face {
  font-family: Lato;
  src: local('Lato'),
    url(/fonts/lato/Lato-Regular-hint-all.woff2) format("woff2"),
    url(/fonts/lato/Lato-Regular-kern-latin.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: local('Lato'),
    url(/fonts/lato/Lato-Bold-hint-all.woff2) format("woff2");
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: local('Lato'),
    url(/fonts/lato/Lato-Italic-hint-all.woff2) format("woff2");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: local('Lato'),
    url(/fonts/lato/Lato-BoldItalic-hint-all.woff2) format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
