/**
 * @file Internal stylesheet for form elements
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 1.0.0
 */

/* Override user agent styles for buttons to match parent element styles */
button,
input {
  font-family: inherit;
}

input[type=text],
input[type=email],
option,
select,
textarea {
  font-family: inherit;
}

form,
fieldset {
  max-width: 100%;
}

button,
input,
option,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
}

form button,
input,
option,
select,
textarea {
  border-radius: 0.15em;
  margin-bottom: 1em;
}

@media screen {
  form button,
  input,
  option,
  select,
  textarea {
    margin-block-end: 1em;
  }
}

input,
select,
textarea {
  border: var(--border);
  background-color: inherit;
  color: inherit;
  padding: 0.25em;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border-color: rgb(var(--text-color));
}

button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: unset;
}

form button {
  border: var(--border);
  font-size: 1.25em;
  min-width: 2em;
  width: 10em;
  max-width: 100%;
}

form button:focus,
form button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

textarea {
  resize: none;
}
