/**
 * @file Internal stylesheet for layout declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.1.0
 */

/* Ensure the body fills the viewport height */
body {
  min-height: 100vh;
}

/*
 * Grid
 */
.grid {
  display: grid;
}

/*
 * Flexbox
 */
.flex,
#app_nav ul li {
  display: flex;
}

.flex-column,
#app_nav ul li {
  flex-direction: column;
}

#app_nav ul,
#footer_nav ul,
.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

#app_nav a {
  align-content: center;
}

#app_nav button {
  align-self: center;
}

main {
  /* Ensure main takes up any unused vertical space within the body */
  flex: 1;
  /* Functional inline margin auto in larger viewports */
  align-self: center;
  /* Keep content at a readable width */
  width: 75ch;
  /* Functional margin in smaller viewports */
  max-width: calc(100vw - 2em);
}

/* Keep inline when it normally isn’t, like ::pseudos for block elements */
.inline {
  display: inline;
}

/*
 * Margin and padding
 */
 blockquote,
.margin {
  margin: 1em;
}

.no-margin {
  margin: 0;
}

.margin-block-start {
  margin-top: 1em;
  margin-block-start: 1em;
}

blockquote p:first-of-type {
  margin-top: 0;
  margin-block-start: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
  margin-block-end: 0;
}

details,
article h2 {
  margin-top: 2em;
  margin-block-start: 2em;
}

article h3 {
  margin-top: 1.5em;
  margin-block-start: 1.5em;
}

details {
  margin-block-end: 1em;
}

#app_nav ul {
  /* For even spacing around navigation icons and link text */
  margin: 0.5em 0.5em 0.25em;
}

#app_footer {
  /* Compensate in smaller viewports when #app_nav is fixed to the bottom */
  margin-bottom: 59px;
  margin-block-end: 59px;
}

@media (min-width: 75ch) {
  #app_footer {
    /* Tighten margin in larger viewports */
    margin-bottom: 0.5em;
    margin-block-end: 0.5em;
  }
}

/*
 * Padding
 */
blockquote,
.padding {
  padding: 1em;
}

/* Ensure the sticky app navigation doesn’t cover the bottom of content */
main {
  padding-bottom: 3em;
  padding-block-end: 3em;
}

article header.padding {
  /* Increase top padding */
  padding-top: 2em;
  padding-block-start: 2em;
  /* Increase bottom padding */
  padding-bottom: 0;
  padding-block-end: 0;
}

.no-padding {
  padding: 0;
}

.padding-block-start {
  padding-top: 1em;
  padding-block-start: 1em;
}

.padding-inline-end {
  padding-right: 0.5em;
  padding-inline-end: 1ch;
}

.padding-block-end {
  padding-bottom: 1em;
  padding-block-end: 1em;
}

.padding-inline-start {
  padding-left: 0.5em;
  padding-inline-start: 1ch;
}

/*
 * Positioning
 */

/* Hide content that is meant only for screen readers */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Place primary nav at the bottom in smaller viewports */
#app_nav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4; /* For tables with sticky headers */
}

/* Hide the footer in smaller viewports */
#app_footer,
/* Hide the “… Show less” prompt when details is toggled closed */
#app_footer,
.show-less,
/* Hide the “… Show more” prompt when details is toggled open */
details[open] .show-more,
/* Hide the default summary toggle */
summary::-webkit-details-marker {
  display: none;
  visibility: hidden;
}

/* Display “… Show less” prompt when details is toggled open */
details[open] .show-less {
  display: revert;
  visibility: revert;
}

@media (min-width: 75ch) {
  /* Place primary nav within the #app_header in larger viewports */
  #app_nav {
    position: relative;
    max-width: 75ch;
    width: calc(100vw - 2em);
    margin: 1em auto;
  } 

  /* Show the footer in larger viewports */
  #app_footer {
    display: revert;
    visibility: revert;
  }
}

#app_nav svg {
  /* Increase size of svg icons from normal font size */
  height: 1.5em;
  width: auto;
  margin-bottom: 0.35em;
  margin-block-end: 0.35em;
  position: relative;
  top: 3px;
}
