/**
 * @file Internal stylesheet for navigation declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.1.0
 */

#app_nav {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (min-width: 66ch) {
  #app_nav {
    position: relative;
    max-width: 66ch;
    width: calc(100vw - 2em);
    margin: 1em auto;
  } 
}

#app_nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0.5em 0.5em 0.25em 0.5em;
}

#app_nav a {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-decoration: none;
  padding: 0 0.5em;
  line-height: 1;
}

.icon {
  font-size: 1em;
  text-align: center;
}

.icon svg {
  height: 1.5em;
  width: auto;
}
