/**
 * @file Internal stylesheet for tables declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.10.0
 * @since 0.11.0 Add color rules
 * @see {@link https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables “Styling Tables” on MDN}
 * @see {@link https://www.chicagomanualofstyle.org/book/ed17/part1/ch03/psec047.html “Illustrations and Tables” in Chicago Manual of Style, 17th ed.
 */

/* 
 * Table numbers
 */
main {
  counter-reset: table;
}

table caption:before {
  content: "Table " counter(table) ". ";
  counter-increment: table;
}

/*
 * Positioning
 */
th {
  position: sticky; 
}

tbody th[scope="row"] {
  z-index: 1;
}

thead th {
  z-index: 2;
}

thead th[scope="col"]:first-of-type {
	z-index: 3;
}

thead th[scope="col"],
tbody th[scope="row"] {
  top: 0;
  inset-block-start: 0;
}

thead th[scope="col"]:first-of-type,
tbody th {
  left: 0;
  inset-inline-start: 0;
}

/*
 * Spacing
 */
table {
  margin-bottom: 1em;
  margin-block-end: 1em;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  background-clip: padding-box;
  min-width: 25em;
}

/*
 * Numbered columns (with a № header)
 */
th.numero {
  min-width: 0.5em;
  min-width: 1ch;
  width: 2em;
  width: 2ch;
}

th.slim-column {
  min-width: 4em;
  min-width: 8ch;
  width: 6em;
  width: 12ch;
}

/*
 * Alignment
 */
table caption,
th {
  text-align: left;
  text-align: start;
}

th,
td {
  padding: 0.5ch;
  vertical-align: top;
}

/*
 * Typography
 */
.hanging-indent td span {
  display: inline-block;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/*
 * Colors
 */
th,
tr,
td {
  background-color: var(--background-color);
}

/*
 * Borders
 */
thead tr:first-of-type th {
  border: 0 solid transparent;
  border-bottom: var(--border);
  border-block-end: var(--border);
}

thead tr:first-of-type th,
tfoot tr:first-of-type td {
  border-top: var(--border);
  border-block-start: var(--border);
}

/* For breaking up longer tables */
[data-weekday=Saturday]:not(:last-of-type) th,
[data-weekday=Saturday]:not(:last-of-type) td {
  border-bottom: var(--border);
}

/*
 * Emoji
 */
/* Morning lessons (in tables) */
[data-lesson-type^="morning-"]::before {
  content: var(--morning-emoji);
}

/* Evening lessons (in tables) */
[data-lesson-type^="evening-"]::before {
  content: var(--evening-emoji);
}

/* Alternate lessons (in tables) */
[data-lesson-type^="alt"]::before {
  content: var(--alt-emoji);
}

/*
 * Make the table responsive and with WCAG in mind
 * @see {@link https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html “Under-Engineered Responsive Tables” by Adrian Roselli, June 23, 2021}
 */
article {
  overflow-x: scroll;
}

[role="region"][aria-labelledby][tabindex] {
  max-height: calc(100vh - 2em);
  overflow: auto;
  width: 100%;
}

[role="region"][aria-labelledby][tabindex]:focus {
  outline: 0.1em solid rgba(0,0,0,0.1);
}

@media (min-width: 75ch) {
  article {
    overflow-x: unset;
  }

  [role="region"][aria-labelledby][tabindex] {
    max-height: unset;
    overflow: unset;
    width: unset;
  }
}
