/**
 * @file Internal stylesheet for typography declarations
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 0.1.0
 * @since 0.11.0 Add Lato font family, add emoji
 * @since 0.11.1 Increase line height thoughout and font size on smaller viewports
 */

body {
  /* Lato loaded in ./css/fonts.css */
  font-family: Lato, sans-serif;
  /* Use a larger font on smaller screens */
  font-size: 1.25em;
  line-height: 1.5;
}

@media screen and (min-width: 66em) {
  body {
    /* Scale font-size in larger viewports */
    font-size: 1.6vw;
  }
}

/*
 * Text alignment
 */
.icon,
.text-center {
  text-align: center;
}

.icon {
  height: 1.65em;
}

.text-inline-end {
  text-align: right;
  text-align: inline-end;
}

.hanging-indent p {
  padding-left: 4ch;
  padding-inline-start: 4ch;
  text-indent: -4ch;
}

.poetry {
  padding-left: 3ch;
  padding-inline-start: 3ch;
}

.poetry.hanging-indent span,
span.hanging-indent {
  display: inline-block;
  padding-left: 3ch;
  padding-inline-start: 3ch;
  text-indent: -3ch;
}

.entry ul {
  padding-left: 0;
  padding-inline-start: 0;
}

ul.hanging-indent {
  padding-left: 1.4em;
  padding-inline-start: 1.4em;
}

.hanging-indent li {
  padding-left: 2.25ch;
  padding-inline-start: 2.25ch;
  text-indent: -2.25ch;
}

.indent {
  text-indent: 4ch;
}

/* Style chapter numbers from Bible quotations */
.chapter-number {
  bottom: -0.2em; /* Align top with verse text */
  font-size: x-large;
  line-height: 0.8em; /* Decrease line-height to accommodate font size */
  margin-right: 0.25ch;
  margin-inline-end: 0.25ch;
  position: relative;
}

/* Add spacing after verse numbers in Bible quotations */
.verse-number {
  padding-right: 0.125ch;
  padding-inline-end: 0.125ch;
}

/*
 * Font size
 */
.xx-small {
  font-size: 0.66rem;
}

.xx-small sup {
  font-size: 0.66em;
}

sup,
.x-small {
  font-size: 0.7rem;
}

/* Prevent superscripts from modifying line height */
sup {
  vertical-align: 25%;
}


.small {
  font-size: 0.87rem;
}

.smaller,
blockquote {
  font-size: 0.9rem;
}

.icon,
.medium {
  font-size: 1rem;
}

.larger,
article h1,
article h2,
article h3,
summary h2,
.home main ul {
  font-size: 1.5rem;
}

/* Make in-text SVGs the same height as parent element text */
h2 svg {
  height: 0.75em;
  width: inherit;
}

/*
 * Font styles
 */
#app_nav a:focus,
#app_nav a:hover,
#app_nav button:focus,
#app_nav button:hover,
.icon:focus,
.icon:hover,
.chapter-number,
.bold {
  font-weight: bold;
}

address,
.normal {
  font-style: normal;
}

/*
 * List styles
 */
summary,
#app_nav ul,
#footer_nav ul,
.no-list-style,
.emoji-list {
  list-style: none;
}

#app_nav li {
  min-width: 4.1em;
}

#app_nav [data-emoji]::before {
  font-size: 1.25em;
  line-height: 1.5;
}

/* Make shorter headings take up the same space inline as longer ones */
article header h1 {
  min-height: 2.25em;
}

article header {
  min-height: 4.575em;
}

/* Reduce line height for headings and navigation items */
article header h1,
article h2,
hgroup,
nav a,
nav button {
  line-height: 1.1;
}

nav a,
nav button {
  text-decoration: none;
}

/*
 * Emoji
 * @see _data/emoji.js
 * @see _includes/shortcodes/internal-css.js
 */
summary {
  cursor: pointer;
}

summary::before {
  content: var(--toggle-on-emoji);
  vertical-align: text-bottom;
}

details[open] summary::before {
  content: var(--toggle-off-emoji);
}

/* Use different emoji for collects */
.prayer summary:before {
  content: var(--prayer-hands-folded-emoji);
}

.prayer[open] summary::before {
  content: var(--prayer-hands-open-emoji);
}

.emoji-list ul li::before,
.emoji-list li::before {
  display: inline flex;
  justify-content: center;
}

summary::before,
.emoji-list ul li::before,
.emoji-list li::before,
[data-emoji]::before {
  margin-right: 0.25ch;
  margin-inline-end: 0.25ch;
}

.emoji-list li:not(last-of-type) {
  margin-bottom: 0.15em;
  maring-block-end: 0.15em;
}

.emoji-list li a {
    display: inline;
}

/* emojiIds from @see _data/emoji.js */

[data-emoji="key"]::before {
  content: var(--key-emoji);
}

[data-emoji="contact"]::before {
  content: var(--contact-emoji);
}

[data-emoji="donate"]::before {
  content: var(--donate-emoji);
}

#app_nav [data-emoji="donate"]::before {
  content: var(--donate-emoji);
}

[data-emoji="information"]::before {
  content: var(--information-emoji);
}

#app_nav [data-emoji="information"]::before {
  content: var(--information-emoji);
}

[data-emoji="thought-balloon"]::before {
  content: var(--thought-balloon-emoji);
}

[data-emoji="calendar"]::before {
  content: var(--calendar-emoji);
}

[data-emoji="accessibility"]::before {
  content: var(--accessibility-emoji);
}

/* Requires greater specificity for cascade */
.emoji-list li[data-emoji="copyright"]::before {
  content: var(--copyright-emoji);
  /* Keep Ⓒ from behaving like the text character instead of the emoji */
  min-width: 1.2em;
}

[data-emoji="privacy"]::before {
  content: var(--privacy-emoji);
}

[data-emoji="policy"]::before {
  content: var(--policy-emoji);
}

[data-emoji="free"]::before {
  content: var(--free-emoji);
}

[data-emoji="follow"]::before {
  content: var(--follow-emoji);
}

/* Readings */

/* One-emoji-wide list markers */
[data-reading] {
  margin-left: 2.5em;
  margin-inline-start: 2.5em;
  padding-inline-start: 0.25em;
  text-indent: -0.75em;
}

/* Two-emoji-wide list markers */
[data-reading][data-hour],
[data-reading][data-reading^="alt"] {
  margin-left: 1.25em;
  margin-inline-start: 1.25em;
  padding-inline-start: 1.35em;
  text-indent: -1.35em;
}

/* Three-emoji-wide list markers */
[data-hour][data-reading][data-reading^="alt"] {
  margin-left: 0;
  margin-inline-start: 0;
  padding-left: 2.5em;
  padding-inline-start: 2.5em;
  text-indent: -1.95em;
}

/* Morning psalm */
[data-hour="morning"][data-reading="psalm"]::before {
  content: var(--morning-emoji)var(--psalm-emoji);
}

/* Evening psalm */
[data-hour="evening"][data-reading="psalm"]::before {
  content: var(--evening-emoji)var(--psalm-emoji);
}

/* First reading */
[data-reading="first"]::before {
  content: var(--first-emoji);
}

/* Alternate first reading */
[data-reading="altFirst"]::before {
  content: var(--alt-emoji)var(--first-emoji);
}

/* First morning reading */
[data-hour="morning"][data-reading="first"]::before {
  content: var(--morning-emoji)var(--first-emoji);
}

/* Alternate first morning reading */
[data-hour="morning"][data-reading="altFirst"]::before {
  content: var(--alt-emoji)var(--morning-emoji)var(--first-emoji);
}

/* First evening reading */
[data-hour="evening"][data-reading="first"]::before {
  content: var(--evening-emoji)var(--first-emoji);
}

/* Alternate evening first reading */
[data-hour="evening"][data-reading="altFirst"]::before {
  content: var(--alt-emoji)var(--evening-emoji)var(--first-emoji);
}

/* Second reading */
[data-reading="second"]::before {
  content: var(--second-emoji);
}

/* Alternate second reading */
[data-reading="altSecond"]::before {
  content: var(--alt-emoji)var(--second-emoji);
}

/* Second morning reading */
[data-hour="morning"][data-reading="second"]::before {
  content: var(--morning-emoji)var(--second-emoji);
}

/* Alternate second morning reading */
[data-hour="morning"][data-reading="altSecond"]::before {
  content: var(--alt-emoji)var(--morning-emoji)var(--second-emoji);
}

/* Second evening reading */
[data-hour="evening"][data-reading="second"]::before {
  content: var(--evening-emoji)var(--second-emoji);
}

/* Alternate second evening reading */
[data-hour="evening"][data-reading="altSecond"]::before {
  content: var(--alt-emoji)var(--evening-emoji)var(--second-emoji);
}

/* Gospel reading */
[data-reading="gospel"]::before {
  content: var(--gospel-emoji);
}

/* Alternate gospel reading */
[data-reading="altGospel"]::before {
  content: var(--alt-emoji)var(--gospel-emoji);
}

/* Morning gospel reading */
[data-hour="morning"][data-reading="gospel"]::before {
  content: var(--morning-emoji)var(--gospel-emoji);
}

/* Alternate morning gospel reading */
[data-hour="morning"][data-reading="altGospel"]::before {
  content: var(--alt-emoji)var(--morning-emoji)var(--gospel-emoji);
}

/* Evening gospel reading */
[data-hour="evening"][data-reading="gospel"]::before {
  content: var(--evening-emoji)var(--gospel-emoji);
}

/* Alternate evening gospel reading */
[data-hour="evening"][data-reading="altGospel"]::before {
  content: var(--alt-emoji)var(--evening-emoji)var(--gospel-emoji);
}

[data-emoji="purple-heart"]::before,
[data-color="purple"]::before {
  content: var(--purple-heart-emoji);
}

[data-emoji="pink-heart"]::before,
[data-color="pink"]::before {
  content: var(--pink-heart-emoji);
}

[data-emoji="white-heart"]::before,
[data-color="white"]::before {
  content: var(--white-heart-emoji);
}

[data-emoji="green-heart"]::before,
[data-color="green"]::before {
  content: var(--green-heart-emoji);
}

[data-emoji="red-heart"]::before,
[data-color="red"]::before {
  content: var(--red-heart-emoji);
}

/*
 * BibleGateway
 * @since 2.2.0
 */
[data-emoji="open-book"]::before {
  content: var(--open-book-emoji);
}

/*
 * External links
 * @since 2.2.0
 */
[data-emoji="link"]::after {
  content: var(--link-emoji);
}
