<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=WGNXnKO8lx">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=WGNXnKO8lx">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=WGNXnKO8lx">
<link rel="manifest" href="/favicons/site.webmanifest?v=WGNXnKO8lx">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=WGNXnKO8lx" color="#a43022">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=WGNXnKO8lx">
<meta name="msapplication-TileColor" content="#a43022">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=WGNXnKO8lx">
<meta name="theme-color" content="#ffffff">